TDENGINE_URL=taosws://root:taosdata@127.0.0.1:6041
TDENGINE_DATABASE=history_service
AUTO_INIT_SCHEMA=true
AUTO_START_COLLECTOR=false
COLLECT_INTERVAL_SECONDS=1
PLC_RACK=0
PLC_SLOT=1
PLC_CONNECT_TIMEOUT_SECONDS=3
PLC_MAX_READ_BYTES=200
SHIFT_START_HOUR=8
SHIFT_LENGTH_HOURS=12
DATA_KEEP_DAYS=730
